.DS_Store
# folders
.coverage_artifacts/
.coverage_cache/
.coverage_contracts/
.yarn/*
!.yarn/releases
!.yarn/plugins
artifacts/
build/
cache/
coverage/
dist/
node_modules/
typechain/
out/

# files
*.env
*.log
*.tsbuildinfo
coverage.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# tests
tile-0x7F129dd4e9b74BAf28499ac422aca8176A281De9.json
tile-1.json
tile-2.json
